{% extends './abm_layout.html' %}

{% block title %}
  José Luis Rizzo | Modificar categoría
{% endblock %}

{% block navTitle %}
  Modificar categoría
{% endblock %}

{% block navAction %}
  <a href="../vehicles_abm" class="col-2 btn btn-outline-success"><i class="bi bi-add"></i>Volver al listado</a>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-12 col-sm-8 my-4">
        <form class="row g-3" method="post" action="/cat_update" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="row">
            <label for="id" class="col-2 col-form-label fw-bold">Número ID:</label>
            <div class="col-10">
              <input value="{{category[0]}}" type="text" class="form-control-plaintext fw-bold" name="id" id="id" aria-describedby="ID" readonly>
            </div>
          </div>
          <div class="col-4">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" value="{{category[1]}}" class="form-control" name="name" id="name" aria-describedby="Nombre" required>
          </div>
          <div class="col-8 form-input-group">
            <div class="col-12">
              <label for="image" class="form-label">Foto banner</label>
              {% if category[3] != '' %}
                <span class="fst-italic text-black-50" style="font-size: small;">({{category[3]}})</span>
              {% endif %}
              <input type="file" class="form-control" name="image" id="image" accept="image/*">
            </div>
            <div class="col-12 mt-2 form-check">
              <label class="form-check-label" for="carousel">Mostrar en banner</label>
              {% if category[2] %}
                <input type="checkbox" class="form-check-input" name="carousel" id="carousel" checked>
              {% else %}
                <input type="checkbox" class="form-check-input" name="carousel" id="carousel">
              {% endif %}
            </div>
          </div>
          {% set ns = namespace(found=false) %}
          {% for vehicle in vehicles %}
            {% if vehicle[9] == category[1] %}
              {% set ns.found = true %}
            {% endif %}
          {% endfor %}
          {% if ns.found %}
            <!-- Button trigger modal -->
            <div class="col-12 text-end">
              <button type="button" class="col col-sm-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Guardar cambios
              </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Control de cambios</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Al menos un registro de la tabla de vehículos utiliza la categoría <span class="fw-bold">{{category[1]}}</span>.<br>
                      Si continúa con la operación, se modificarán también dichos registros para mantener
                      la consistencia de los datos. Pulse "Continuar" para seguir editando, o "Cancelar" para
                      volver a la pantalla anterior.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <a href="../vehicles_abm" type="button" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Continuar</button>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="col-12 text-end">
              <button type="submit" class="col col-sm-3 btn btn-primary">Guardar cambios</button>
            </div>
          {% endif %}
        </form>
      </div>
      <div class="card col-12 col-sm-3 text-bg-light my-4 px-0">
        <div class="card-header">
          <h5 class="cart-title my-0">Categorías</h1>
        </div>
        <div class="card-body">
          {% for catName in categories %}
            {% if catName[1] == category[1] %}
              <p class="my-1 fw-bold">{{catName[1]}}</p>
            {% else %}
              <p class="my-1">{{catName[1]}}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}